<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GoodsMapper">

	
	
	<select id="goodsList" parameterType="string" resultType="GoodsDTO">
	select gCode, gCategory, gName, gPrice, gImage, gCountry, gCompany, gDate
	from goods
	where gCategory=#{gCategory}
	</select><!-- 리스트 -->

	<select id="goodsTotal" parameterType="string" resultType="int">
	select count(*) count
	from goods
	where gCategory=#{gCategory}
	</select><!-- 페이징처리하기위한 수량 -->
	
	<select id="goodsAll" resultType="GoodsDTO">
	select gCode, gCategory, gName, gPrice, gImage, gCountry, gCompany, gDate
	from goods
	</select><!-- 관리자 상품조회 -->
	
	<select id="codeSerch" parameterType="string" resultType="GoodsDTO">
	select gCode, gCategory, gName, gPrice, gImage, gCountry, gCompany, gDate, gAmount
	from goods
	where gCode=#{gCode}
	</select><!-- 상품 자세히 -->
	
	<update id="adminUpdateForm" parameterType="GoodsDTO">
	update goods
	set gCode = #{gCode},
	gCategory = #{gCategory},
	gName = #{gName},
	gPrice = #{gPrice},
	gImage = #{gImage},
	gCountry = #{gCountry},
	gCompany = #{gCompany},
	gDate = #{gDate},
	gAmount = #{gAmount}
	where gCode=#{gCode}
	</update><!-- 상품 변경 -->
	
	<insert id="adminInsert" parameterType="GoodsDTO">
	insert into goods(gCode, gCategory, gName, gPrice, gImage, gCountry, gCompany, gDate, gAmount)
	values (#{gCode},#{gCategory},#{gName},#{gPrice},#{gImage},#{gCountry},#{gCompany},#{gDate},null)
	</insert><!-- 상품 입력 -->
	
</mapper>